body{
    color: #fff;
}

#highScoresListEasy, #highScoresListMedium, #highScoresListHard{
    list-style: none;
    height: 15% !important;
    word-break: break-word;
}

.high-score{
    font-size: 4vh;
    height: 80%;
    width: 100%;
    text-align: center;
}

#finalScoreEasy, #finalScoreMedium, #finalScoreHard{
    height: 10% !important;
    width: 100% !important;
    text-align: center;
    font-size: 5vh !important;
    margin: 0;
}